# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Vs code
.vscode

# zip files
*.zip

*.ii
*.s

#cmake
bin
build
lib

#uni bonn course
uni_bonn_2018/HW-01/task_1/data/

